

function hidefooter() {
  var navfixed = document.getElementById('navfixedsw');
  if (navfixed.style.position === 'fixed') {
    navfixed.style.position = 'inherit';
  }
  else {
    navfixed.style.position = 'fixed';
  }
}